{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Money: ${{ user.Money }}</p>
    
    <h2>Purchased Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for post in purchased_posts %}
            <tr>
                <td>{{ post.postname }}</td>
                <td>${{ post.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
